<div class="movie-card">
  <img src="{{posterPath}}" alt="" class="movie-card__poster">
  <div class="movie-card__rating">{{rating}}/10</div>
  <h2 class="movie-card__title">{{title}}</h2>
  <p class="movie-card__description">{{description}}</p>
</div>